body > table > tbody > tr.tdd-header > td {
    border-bottom: 1px solid #006;
    padding-top: 30px;
}
body > table > tbody > tr {
    opacity: 0.2
}
body > table > tbody > tr.hovered,
body > table > tbody > tr.specified {
    opacity: 1.0;
}
